<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Organizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Organizzatore File</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form action="/organize" method="post">
            <label for="directory">Seleziona Directory:</label>
            <input type="text" id="directory" name="directory" required>
            
            <label for="method">Organizza per:</label>
            <select id="method" name="method">
                <option value="Null">  </option>
                <option value="Extension">Estensione</option>
                <option value="Date">Data</option>
                <option value="Size">Dimensione</option>
            </select>

            <button type="submit">Organizza</button>
        </form>
    </div>
</body>
</html>
